<!-- fadi ////////////////////////////////////////////////////////////////////////////-->
<!-- <login></login> -->
<!-- <a routerLink="/login">login</a> -->
<!-- <router-outlet></router-outlet> -->
<!-- <parent></parent> -->


<!-- fadi ////////////////////////////////////////////////////////////////////////////-->
<!-- <div class="wrap">
  <input id="textbox" type="text" placeholder="Enter Name" /><br><br>
  <input id="textbox-icon" type="text" /><br><br>
  <button mat-raised-button>Submit</button>
</div> -->

<!-- <h2>list of students</h2>
<ul *ngFor="let student of students">
  <li>
    <span class="students">{{student.name}}</span>
  </li>
  <li>
    <span class="students">{{student.age}}</span>
  </li>
  <li>
    <span class="students">{{student.avg}}</span>
  </li>
</ul> -->

<!-- Ahmad ////////////////////////////////////////////////////////////////////////////-->
<!-- <div class="container">
  <a-table></a-table>
  <a-row></a-row>
</div>
<br><br> -->

<!-- <h1>test Child</h1>
<input id="textbox-icon" [(ngModel)]="text" type="text" /><br>
<label>{{text}}</label><br>
<button type="submit" class="btn btn-primary" [disabled]="text==''" (click)="text=''">Reset</button> -->


<!-- Ahmad ////////////////////////////////////////////////////////////////////////////-->
<h1>Toggle (hide/show)</h1>

<button (click)="toggleTag()">Show/Hide</button>
<h2 appHighlight *ngIf="showMe">toggle me</h2>

<ul>
  <li *ngFor="let item of items; let i = index" [ngClass]="i > 4 ? 'colored' : ''" [ngStyle]="i > 4 ? currentStyles : ''">{{i + 1}}
    on {{today | date:'full'}}</li>
</ul>