<div class="wrap">
  <input id="textbox" type="text" placeholder="Enter Name" /><br><br>
  <input id="textbox-icon" type="text" /><br><br>
  <button mat-raised-button>Submit</button>
  <!-- (click)="getAlert(abd)" -->
</div>

<h2>list of students</h2>
<ul *ngFor="let student of students">
  <li>
    <span class="students">{{student.name}}</span>
  </li>
  <li>
    <span class="students">{{student.age}}</span>
  </li>
  <li>
    <span class="students">{{student.avg}}</span>
  </li>
</ul>


<div class="container">
  <a-table></a-table>
  <a-row></a-row>
</div>